<<<<<<< HEAD
/* here starts */

.listContainer{
  
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin: auto;
  margin-top: 50px;
  
  align-items: center;
  justify-content: space-around;
  height: 400px;
  background-color: #f8fdff;
  /* margin: 50px; */
}
.pending-container .approved-container{
  
  margin-left: 100px;
  padding: 5px;
  justify-self: center;
}


=======
#head a{
  text-decoration: none;
}

#head
{
  display: flex;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
  align-items: center;
}

.head-nmae
{

}

.searchbox{
  margin-left: 12rem;
}

.searchbar
{
  height: 2.5rem;
}

.searchbtn
{
  height: 2.5rem;
}

.call
{
  color: black;
  margin-left: 11rem;
}
.user
{
  margin-left: 1.3rem;
  color: black;
}

.ca
{
  margin-left: 1.3rem;
  color: black;
}

#hrline
{
  border-width: 2px;
}

#navigation .navbar-nav
{
  margin: auto;
}

#navigation .nav-item
{
  margin: 0 1rem;
  font-size: 1.2rem;
}

#section-1
{
  background-image: url(/images/title.jpg);
  color: white;
  min-height: 30rem;
  text-align: center;
}
.section-1-title
{
  padding-top: 7rem;  
  font-size: 3.5rem;
}

.section-1-text
{
  padding-top: 1rem;
  font-size: 2rem;
}

#about
{
  display: flex;
  text-align: center;
}

#about .about-head
{
  font-size: 2.5rem;
  margin-right: 2rem;
}

#about .about-text
{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}


/* here starts */
.listContainer{
  
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin: auto;
  margin-top: 50px;
  
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  height: 400px;
  background-color: gainsboro;
  /* margin: 50px; */
}
.pending-container .approved-container{
  
  margin-left: 100px;
  padding: 5px;
  justify-self: center;
}

>>>>>>> 3fac1daf7c4f852cc026cc451590aa30838d3932
